/* Announcement Bar Animation */

@keyframes fadeMessage {
  0% {
    opacity: 0;
    transform: translateY(-6px);
  }

  15% {
    opacity: 1;
    transform: translateY(0);
  }

  85% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(6px);
  }
}

.animate-fade {
  animation: fadeMessage 4s ease-in-out;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(240%);
  }
}
@keyframes fadeIn {

  from {
    opacity: 0;
    transform: translateY(30px) scale(.98);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }

}